mixin icon (str, isBordered)
    - str = str || '';
    - let [icon, title, description] = str.split('/')
    if (isBordered)
        .icon.icon_bordered
            span.material-icons= icon
            .icon__text
                span.body= title
                span.body= description
    else
        .icon
            span.material-icons= icon
            .icon__text
                span.body= title
                span.body= description