mixin diagram(entities)
    - let sum = 0;
    each entity in entities
        -sum += entity.value 
    .diagram
        .diagram__circle
            svg(class="diagram__chart" width='125' height='125' viewBox="0 0 125 125")
                -let prevVal=0;
                each entity in entities
                    if entity.value == 0
                        null 
                    else
                        if prevVal == 0
                            circle(
                                stroke-dashoffset=`-1`
                                stroke-dasharray=`${entity.value / sum * 377 - 2} 377` 
                                class='diagram__segment' 
                                r='60' 
                                cx='50%' 
                                cy='50%'
                            )
                        else
                            circle(
                                stroke-dashoffset=`${prevVal-1}`
                                stroke-dasharray=`${entity.value / sum * 377 - 2} 377` 
                                class='diagram__segment' 
                                r='60' 
                                cx='50%' 
                                cy='50%'
                            )     
                    -prevVal= prevVal - (entity.value / sum * 377);
                defs 
                    linearGradient(id="grad1" x1="0%" y1="0%" x2="100%" y2="100%")
                        stop(offset="0%" stop-color="#FFE39C")
                        stop(offset="100%" stop-color="#FFBA9C")
                    linearGradient(id="grad2" x1="0%" y1="0%" x2="100%" y2="100%")
                        stop(offset="0%" stop-color="#BC9CFF")
                        stop(offset="100%" stop-color="#8BA4F9")
                    linearGradient(id="grad3" x1="0%" y1="0%" x2="100%" y2="100%")
                        stop(offset="0%" stop-color="#6FCF97")
                        stop(offset="100%" stop-color="#66D2EA")  
                    linearGradient(id="grad4" x1="0%" y1="0%" x2="100%" y2="100%")
                        stop(offset="0%" stop-color="#909090")
                        stop(offset="100%" stop-color="#3D4975")              