
mixin iqdropdown(props)
    - props = props || {}
    - var { id1 = '', id2 = '', id3 = '', label = '', description = '', className = 'iqdropdown_width_wide', content = 'guests' } = props

        h3(class="label label_position_text-field")= label
        span(class="label label_style_25 label_position_text-field")= description
        div(class= `iqdropdown item ${className}` data-content=content)
            p(class="iqdropdown-selection" data-selection-text="гость")
            .iqdropdown-menu
                div(class="iqdropdown-menu-option" data-id=id1)
                    div
                        p(class="iqdropdown-item")= id1
                div(class="iqdropdown-menu-option" data-id=id2)
                    div
                        p(class="iqdropdown-item")= id2
                div(class="iqdropdown-menu-option" data-id=id3)
                    div
                        p(class="iqdropdown-item")= id3