
mixin iqdropdown(props)
    - props = props || {}
    - var { id1 = '', id2 = '', id3 = '', label = '', maxCount = NaN, className = 'iqdropdown_width_wide' } = props
    h3(class="label")= label
    div(class= `iqdropdown item ${className}`)
        p(class="iqdropdown-selection" data-selection-text="гость")
        .iqdropdown-menu
            div(class="iqdropdown-menu-option" data-id=id1)
                div
                    p(class="iqdropdown-item") Взрослые
            div(class="iqdropdown-menu-option" data-id=id2)
                div
                    p(class="iqdropdown-item") Дети
            div(class="iqdropdown-menu-option" data-id=id3 data-maxcount= maxCount)
                div
                    p(class="iqdropdown-item") Младенцы