mixin color-container(title, color, opacity)
    if opacity === ""
        div(class=`colorsTypes__box colorTypes__box_color_${color}-100`)
    else
        div(class=`colorsTypes__box colorTypes__box_color_${color}-${opacity}`)
    if opacity === ""
        h2.
            #{title} <br>#[span(class="colorsTypes_normal-w") ##{color}]

    else
        h2.
            #{title} #{opacity}% #[span(class="colorsTypes_normal-w") ##{color}]