mixin color-container(title, color, opacity)
    if opacity === ""
        div(class=`colors-content__box colors-content__box_color_${color}-100`)
    else
        div(class=`colors-content__box colors-content__box_color_${color}-${opacity}`)
    if opacity === ""
        h2.widget-inside.
            #{title} <br>#[span(class="colors-content__span-normal") ##{color}]

    else
        h2.widget-inside.
            #{title} #{opacity}% #[span(class="colors-content__span-normal") ##{color}]